
/* Login component */

.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.login-reg-container {
  margin: 20px;
  transform: all 1s ease;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: 540px;
  width: 400px;
  max-width: 900px;
  transform: translateY(0);
  transition: transform 1.5s ease;
}
.form-information {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.form-information-childs h1 {
  color: #333;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}
.form-information-childs h2 {
  color: #333;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}
.form-information-childs p {
  color: #555;
  font-family: "Quicksand", sans-serif;
}
.icons-login {
  margin: 10px 0 25px 0;
}
.icons-login i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #003366;
  transition: background-color 0.3s ease;
  border: solid thin #003366;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hide {
  position: fixed;
  transform: translate(0, -300%);
  transition: transform 2s ease;
}
.icons-login i:hover {
  background-color: #003366;
  color: #fff;
  transition: 0.5s ease;
}
.form {
  margin: 30px 0 0 0;
}
.form label {
  display: flex;
  background-color: #fff;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form label input {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333;
  font-family: "Quicksand", sans-serif;
}
.form label i {
  color: #a7a7a7;
}
.form input[type="submit"] {
  background-color: #d5a983;
  background-color: #003366;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif;
}
.form input[type="submit"]:hover {
  background-color: #fff;
  color: #003366;
  transition: 0.5s ease;
}
.form label:hover {
  transform: translateY(-10%);
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.test {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
.test p {
  margin: 0 5px;
}
.test2 {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
.test2 p {
  margin: 0 5px;
}
.regBtn {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Quicksand", sans-serif;
  color: #333;
}
.regBtn:hover {
  color: #003366;
  transition: 0.1 ease;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: zIndex 0.3s ease;
}

.modifier {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 170px;
  display: flex;
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  border-radius: 10px;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modifier > span {
  margin: 10px;
}

.modifier > input {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.modifier > button {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 5px 10px;
  width: 90px;
  right: 100%;
  margin: 10px;
  margin-left: 200px;
  border-radius: 50px;
  background: #11303d;
  border: 1px solid #11303d;
  transition: background 0.5s ease;
}

.modifier > button:hover {
  cursor: pointer;
  color: #11303d;
  background: #fff;
}

.modifier > p {
  font-size: 12px;
  text-align: center;
  margin: 0;
  opacity: 1;
  color: red;
}

.task-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
  background-color: grey;
  max-width: 670px;
  font-family: "Quicksand", sans-serif;
  word-break: break-all;
  border-radius: 20px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #fff;
  color: #11303d;
}

.task-info > h2 {
  font-weight: 400;
}

.task-container {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  grid-template-areas:
    "filters"
    "tasks";
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 1.1;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 1px solid #fff;
}
.filters {
  grid-area: filters;
  display: flex;
  align-items: center;
  padding: 10px;
  /* justify-content:space-between; */
}
.tasks {
  grid-area: tasks;
  background: #3599c3;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 16px;
}

/* SideBar component */

#nav-toggle:checked ~ #nav-header {
  width: calc(80px - 16px);
}
#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
  width: 80px;
}
#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: #f5f6fa;
  background: black;
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger:before,
#nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: #212223;
  transform: translate(0, 0) rotate(0deg);
}

#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}

#nav-bar {
  position: absolute;
  height: 87.9%;
  left: 20px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  overflow: hidden;
  user-select: none;
  z-index: 2;
  transform: translateY(1px);
}
#nav-bar hr {
  margin: 0;
  position: relative;
  left: 10px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px #2c3e50;
}
#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar p {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type="checkbox"] {
  display: none;
}

#nav-header {
  position: relative;
  width: 256px;
  left: 16px;
  width: calc(256px - 16px);
  min-height: 80px;
  color: #212223;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  border-radius: 99px;
  transition: background 0.2s;
}
#nav-toggle-burger:before,
#nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: #11303d;
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}
#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: 256px;
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}
#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #d62929;
}

#nav-content-highlight {
  position: absolute;
  right: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;

  background: #018093;
  background-attachment: fixed;
  border-radius: 0 16px 16px 0;
  transition: top 0.2s;
}
#nav-content-highlight:before,
#nav-content-highlight:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: -16px 16px #018093;
  
}
#nav-content-highlight:after {
  top: 100%;
  box-shadow: -16px -16px #018093;
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: #3c3e3f;
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}
.nav-button span {
  transition: opacity 1s;
}
.nav-button .fas {
  transition: min-width 0.2s;
}
.nav-button:nth-of-type(1):hover {
  color: #fff;
}
.nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
  top: 16px;
}
.nav-button:nth-of-type(2):hover {
  color: #fff;
}
.nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
  top: 70px;
}
.nav-button:nth-of-type(3):hover {
  color: #fff;
}
.nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
  top: 124px;
}
.nav-button:nth-of-type(4):hover {
  color: #fff;
}
.nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
  top: 178px;
}
.nav-button:nth-of-type(5):hover {
  color: #fff;
}
.nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
  top: 232px;
}
.nav-button:nth-of-type(6):hover {
  color: #fff;
}
.nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
  top: 286px;
}
.nav-button:nth-of-type(7):hover {
  color: #fff;
}
.nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
  top: 340px;
}
.nav-button:nth-of-type(8):hover {
  color: #fff;
}
.nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
  top: 394px;
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}


/* Task component */

.task {
  display: grid;
  grid-area: "top" "bot";
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  width: 276px;
  height: 200px;
  border-radius: 16px;
  z-index: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all ease 0.1s;
}
.task:hover {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.top {
  background-color: #cecece;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.top > button {
  border: 0;
  background: none;
  font-size: 15px;
}
.top > button:hover {
  transform: translateY(1px);
  cursor: pointer;
}

.bot {
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  padding: 5px;
  text-align: start;
}

.icons {
  display: flex;
  align-items: end;
  justify-content: end;
}
.icon {
  position: absolute;
  right: -20px;
  bottom: -20px;
  font-size: 140px;
  color: #e8e8e8;
  opacity: 0.7;
  margin-left: 5px;
}

.menu {
  display: none;
  width: 210px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: #fff;
  z-index: 9999;
  font-family: "Quicksand", sans-serif;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  border-radius: 10px;
  padding: 8px 10px;
}
.menu a {
  text-decoration: none;
  color: #333;
  display: block;
}
.menu li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}


/* AddTask */
.button {
  padding: 15px 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: zIndex 0.3s ease;
}

.new-task {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 40px;
  z-index: 4;
  transition: all 0.5s ease;
  max-width: 589px;
}

.new-task > h2 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.new-task > button {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 5px 10px;
  width: 90px;
  right: 100%;
  margin-top: 10px;
  margin-left: 254px;
  border-radius: 50px;
  background: #11303d;
  border: 1px solid #11303d;
  transition: background 0.5s ease;
}

.new-task > button:hover {
  cursor: pointer;
  color: #11303d;
  background: #fff;
}

#emergency,
#name,
#numbers,
#desc {
  resize: none;
  font-family: "Quicksand", sans-serif;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
}

#emergency > option {
  max-height: 36px;
  overflow-y: auto;
}

#emergency:hover {
  cursor: pointer;
}

.requirementsBox {
  background-color: rgb(218, 218, 218);
  max-height: 115px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
}

.requirements {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
}

.requirements:hover {
  background-color: rgb(151, 151, 151);
}

/* Profile component */

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 60px;
  background-color: #fff;
  border-radius: 16px;
  margin-right: 20px;
  padding: 0px 10px 0px 10px;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

/* SearchBar component */

.text {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 25px;
  width: 500px;
  background: #fff;
  /* background: #c89d72;
  background: #2a789a; */
}

.bar {
  display: flex;
  align-content: center;
  background: #fff;
  /* background: #c89d72;
  background: #2a789a; */
  padding: 15px 26px 15px 26px;
  border-radius: 30px;
  width: 500px;
  height: 20px;
  border: none;
}

.bar:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-3%);
  transition: 0.1s ease;
}

img {
  width: 20px;
  height: 21px;
}

/* SnackBar */

.snackbar {
  background-color: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  padding: 20px 60px;
  font-family: "Quicksand", sans-serif;
  top: 18px;
  box-shadow: 0px 5px 180px rgba(0, 0, 0, 0.2);
  border-left: solid 6px #3ab164;
  overflow: hidden;
  left: 763px;
  transform: translateY(-150px);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
}

.center-snack {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snackbar.active {
  transform: translateY(0px);
}

.progress {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.progress::before {
  content: " ";
  background-color: #3ab164;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.progress.active::before {
  animation: snackbar 2.5s linear forwards;
}
@keyframes snackbar {
  100% {
    right: 100%;
  }
}

/* InteractiveContainer */

.interactive-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "eTitle tTitle vTitle"
    "emergencys task volunteers";
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 1.1rem;
  border-radius: 16px;
}

.eTitle {
  grid-area: eTitle;
}

.icons-int {
  display: flex;
  align-items: end;
  justify-content: end;
}
.icon-int {
  position: absolute;
  right: -20px;
  bottom: -20px;
  font-size: 150px;
  color: #e8e8e8;
  opacity: 1;
  margin-left: 5px;
}

.info {
  /* display: flex;
  justify-content: space-between; */
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  margin: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: start;
  position: relative;
  overflow: hidden;
  height: 180px;
  transition: all ease 0.1s;
}

.info:hover {
  transform: translateY(1px);
  cursor: pointer;
}

#emergency-int {
  transition: all ease 0.1s;
}

.emergencys {
  grid-area: emergencys;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px 25px 25px;
}

.task-int {
  grid-area: task;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px 25px 25px;
}

.volunteers {
  grid-area: volunteers;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px 25px 25px;
}

.content {
  background-color: #cecece;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  overflow-y: auto;
}

.tTitle {
  grid-area: tTitle;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.vTitle {
  grid-area: vTitle;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.eTitle {
  grid-area: eTitle;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h2 {
  all: initial;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}


/* Map */

.emergencyLabel {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  border-color: none;
}

.emergencyLabel:focus {
  border: 2px solid blue;
}


.button-select {
  padding: 15px 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  cursor: pointer;
  z-index: 0; 
  background-color: rgb(223, 221, 221);
}

.map-container {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  grid-template-areas:
    "filters"
    "map";
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 1.1;
  border-radius: 16px;
  border: 1px solid #fff;
}

#map{
  
  border-radius: 16px;

}